
@{
    ViewBag.Title = "Contact";
}
<head>
    <title>PathFinder Contact</title>
</head>

@using (Html.BeginForm("Contact", "Home"))
{
    <div class="text-center" style="background-color: transparent">
        <h1 style="font-size: 500%">Contact us <i class="fa fa-address-card-o"></i> </h1>
    </div>

    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-sm-12">
                <div style="text-align: center">
                    <h1>Please contact us for any help or feedback at: waseem.kara@student.anglia.ac.uk</h1>
                </div>
            </div>
        </div>
    </div>
}