
@{
    ViewBag.Title = "Index";
}
<head>
    <title>PathFinder homepage</title>
</head>

@using (Html.BeginForm("Index", "Home"))
{
    <div class="text-center" style="background-color: transparent">
        <h1 style="font-size: 500%">PathFinder</h1>
        <img src="~/Content/PathFinderlogo.png"/>
    </div>

    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-sm-4 homepage-box">
                <a href="@Url.Action("Accessories", "Product")">
                    <h1 class="homepage-text">
                        Accessories
                        <p class="glyphicon glyphicon-chevron-right" id="chevron-right"></p>
                    </h1>
                </a>
                <h4 class="homepage-text">Reliable products from leading brands</h4>
            </div>

            <div class="col-sm-4 homepage-box">
                <a href="@Url.Action("Index", "Product")">
                    <h1 class="homepage-text">
                        Keyboards
                        <p class="glyphicon glyphicon-chevron-right" id="chevron-right"></p>
                    </h1>
                </a>
                <h4 class="homepage-text">Browse unique keyboards</h4>
            </div>

            <div class="col-sm-4 homepage-box">
                <a href="@Url.Action("Software", "Product")">
                    <h1 class="homepage-text">
                        Software
                        <p class="glyphicon glyphicon-chevron-right" id="chevron-right"></p>
                    </h1>
                </a>
                <h4 class="homepage-text">Choose from the latest technology</h4>
            </div>
        </div>
    </div>
}







