
@{
    ViewBag.Title = "Software";
}

<div class="text-center" style="background-color: transparent">
    <h1 style="font-size: 500%">Software <i class="fa fa-windows"></i> </h1>
</div>

<div class="container">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-remove centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Malware remover 2017</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-television centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Multi monitor orgainiser</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-hdd-o centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Drive cleaner</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-play centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Multi media player</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-unlock-alt centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Password secure safe</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="product-box">
            <i class="fa fa-dot-circle-o centered" style="font-size: 400%"></i>
        </div>
        <h3 style="text-align: center">Screen capture</h3>
    </div>
</div>
