
@{
    Layout = null;
}


@using (Html.BeginForm("Index", "Product"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <i style="font-size: 1000%" class="fa fa-keyboard-o"></i>
            </div>
            <div class="col-md-6">
                <h4>Product Description</h4>
                <p>A description about the product</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <button class="btn" id="submit-button"><i class="fa fa-shopping-cart"></i></button>
    </div>
}


