@using PathFinder.Models
@model PathFinder.Models.Account
    
<div class="">
    <div class="modal-title" style="color: blue">
        <h3>Registration</h3>
    </div>
</div>

@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    
}

https://codemagik.wordpress.com/2015/04/07/render-mvc-partial-view-inside-bootstrap-modal-dialog/
