
@{
    ViewBag.Title = "Keyboard";
}

<title>Pathfinder - Keyboards</title>

<div class="text-center" style="background-color: transparent">
    <h1 style="font-size: 500%">Keyboards<img id="keyboard-icon" src="~/Content/Keyboard-icon.png" /></h1>
</div>



<div class="container">

    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">

        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">

        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">
            <div class="product-box"></div>
        </div>

    </div>

    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">

        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">

        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="product-box">

        </div>

    </div>
</div>


