
body {
    /*background-color: #e6f2ff;*/
    background-color: #ff9900;
}

.Logo {
    height: 50px;
    width: 100px;
    padding: 3px;
}

.SearchIcon {
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: white;
}

.AddUserIcon {
    height: 30px;
    width: 30px;
    margin: -5px;
}

.homepage-box {
    background-color: grey;
    text-align: center;
    
}
.homepage-box:hover {
    border: 2px solid red;
}
.homepage-box:link {
    text-decoration: none;
}

.product-box {
    background-color: white;
    height: 300px;
    margin: 15px;

}

.product-box:hover {
    background-color: #ff4d4d;
    border: 5px solid red;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


#keyboard-icon {
    width: 200px;
    height: 100px;
    margin: 40%;
}


h1{
    font-family: 'Exo', sans-serif;
    font-size: 350%;
    color: white;
}


h3, h4, p, a {
    font-family: 'Exo', sans-serif;
    color: white;
}

label {
    color: white;
}

#footer {
   position:absolute;
   bottom:0px;
   height:40px;
}

#chevron-right {
    color: red;
}


.modal-content {
    background-color: #ff9900;   
}

.centered {
    padding: 42%;
    text-align: center;
    
}

@keyframes example {
    0%   {background-color:#ffe6e6}
    25%  {background-color:#ff6666}
    50%  {background-color:#ff0000}
    75%  {background-color:#ffb366}
    100% {background-color:#ff9933}
}